<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">House of Hunan</h1>
  </div>
</div>
<div class="neighborhood-guides">
  <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
              <img src="http://www.dineouthere.com/images/sushi-town-17.jpg">
              <p><strong>Fried Rice</strong>. It has some fried stuff element to it, you'll like it</p>
            </div>
          </div>
            <div class="col-md-3">
            <div class="thumbnail">
              <img src="http://www.tulsapeople.com/in%20the%20raw5689.jpg">
              <center><p>I think it's a <strong>Candy Roll</strong><p></center>
            </div>
          </div>
         <div class="col-md-3">
            <div class="thumbnail">
              <img src="http://www.dineouthere.com/images/sushi-town-17.jpg">
              <p>We even semi-cook our nigiri, just to be safe</p>
            </div>
        </div>
         <div class="col-md-3">
            <div class="thumbnail">
                <img src="http://cookingontheweekends.com/wp-content/uploads/2012/05/April13-Shrimp-Ceviche31.jpg">
                <p>Ceviche on a martini glass, can't get more original than this!</p>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="col-md-12">
<h2 class="text-center">Why us?</h2>
</div>
    <div class="container">
     <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://i2.ytimg.com/vi/f0j3-nd3kJo/hqdefault.jpg">
          </div>
          <h3>Executive Chef</h3>
          <p>Leo Bandana? The Big Kahuna? Magic Leo?</p>
          <p><a href="#">See him works out</a></p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://i2.ytimg.com/vi/f0j3-nd3kJo/hqdefault.jpg">
          </div>
          <h3>Multiple locations</h3>
          <p>It's a food truck! Our location changes everyday. </p>
          <p><a href="#">Learn more</a></p>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <img src="http://a4.urbancdn.com/w/s/Su/M3DInxMUimhaQ0-640m.jpg">
          </div>
        </div>
        <div class="col-md-4">
          <h3>Trust our brand</h3>
          <p>It's essentially In the Raw without tipping your server :) Unless you really want to </p>
          <p><a href="#">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><p>built by &#0153;Seasalt Labs</p></center>
        </div>
      </div>
    </div>
  </footer>
